<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <TestRunParameters>
    <Parameter name="CloudAutomation" value="true" />
    <Parameter name="PlatformName" value="iOS" />
    <Parameter name="PlatformVersion" value="13" />
    <Parameter name="DeviceName" value="iPhone 11 Pro" />
    <Parameter name="NewCommandTimeout" value="45" />
    <Parameter name="LocalTunneling" value="true" />
    <Parameter name="Project" value="UAT WD IOS Automation" />
    <Parameter name="Build" value="IOSPlatform" />
    <Parameter name="AutomationName" value="XCUITest" />
    <Parameter name="TestName" value="SmokeTest" />
    <Parameter name="BrowserstackUserName" value="sunilkumarpechit1" />
    <Parameter name="BrowserstackPassword" value="V8YHz2s5xQP5LFopNpoB" />
    <Parameter name="AppURL" value="bs://5c940214df0a9361447508fdd90391d43bbdb159" />
    <Parameter name="LogFolderPath" value="C:\MobileAuto\UAT\" />
    <Parameter name="ScreenshotFolderPath" value="C:\MobileAuto\UAT\Screenshots" />
    <Parameter name="BuildsPath" value="C:\Builds\" />
    <Parameter name="TestUser1EmailId" value="Test_UX09@westpharma.com" />
    <Parameter name="TestUser1Password" value="RGSMH1cWt+uachOYx5Mlxq13J0d0dXU64W5HiCGWEvc=" />
  </TestRunParameters>
</RunSettings>
