<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <TestRunParameters>
    <Parameter name="CloudAutomation" value="false" />
    <Parameter name="PlatformName" value="iOS" />
    <Parameter name="PlatformVersion" value="13.7" />
    <Parameter name="DeviceName" value="iPhone 11" />
    <Parameter name="newCommandTimeout" value="120" />
    <Parameter name="Udid" value="524b89b424c613c5996ac14a6b9b769d05296fe0" />
    <Parameter name="BundleId" value="com.westpharma.uxframework.dev" />
    <Parameter name="AppName" value="md56a997f95aedf0aa25ee056c85f06aa4b.SplashScreenActivity" />
    <Parameter name="AutomationName" value="XCUITest" />
    <Parameter name="TestUser1EmailId" value="UX-Auto-testuser1@westpharma.com" />
    <Parameter name="TestUser1Password" value="nNzLheKlOF15w7WErR2aSuiErsobi47axQFviCGG+8M=" />
  </TestRunParameters>
</RunSettings>
