<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <RunConfiguration>
    <DesignMode>false</DesignMode>
    <DisableParallelization>false</DisableParallelization>
    <DisableAppDomain>false</DisableAppDomain>
    <CollectSourceInformation>true</CollectSourceInformation>
  </RunConfiguration>
  <TestRunParameters>
    <Parameter name="AppID" value="WestPharmaceuticalService.WestDigital-ShopFloor_78aqb0kyn8f3w!App" />
    <Parameter name="AppName" value="West Digital - ShopFloor" />
    <Parameter name="AppEnvironment" value="Production" />
    <Parameter name="TestUser1EmailId" value="Test_UX09@westpharma.com" />
    <Parameter name="TestUser1Password" value="RGSMH1cWt+uachOYx5Mlxq13J0d0dXU64W5HiCGWEvc=" />
    <Parameter name="LogFolderPath" value="C:\Auto\PROD\" />
    <Parameter name="ScreenshotFolderPath" value="C:\Auto\PROD\Screenshots" />
    <Parameter name="BuildsPath" value="C:\Builds" />
  </TestRunParameters>
</RunSettings>
